.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: .7rem;
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.2rem;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.2rem;
}